<div class="container text-center">
  <div class="row">
    <div class="col" *ngIf="store$ | async as store">
      <a
        class="game-tab"
        *ngFor="let game of store"
        [routerLink]="['/details', game.id]"
      >
        <div class="tab-img">
          <img src="{{ game.image }}" alt="{{ game.name }}" />
        </div>
        <div class="tab-content">
          <h4>{{ game.name }}</h4>
          <div>
            <span *ngFor="let genre of game.genres">{{ genre }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div *ngIf="resError">
  <h1>It seems something went wrong..</h1>
  <h3>Please try again later!</h3>
</div>
