nav{
    background-color: #171d25;
    font-family: "Noto Sans", Helvetica, sans-serif;
  
    text-transform: uppercase;
    .nav-item{
        padding-inline: 0.6rem;
    }
    .nav-link{
        color: #dcdedf; 
        font-weight: 600;
    }
    .navbar-brand{
        img{
            height: 45px;
            width: 175px;
        }
    }
}

.active{
    color: #3aa6e4 !important;
}

.navbar-toggler{
    width: 35px;
    height: 31px;
    padding: 0;
    img{
        width: 100%;
    }
}
.navbar-nav{
    flex-direction: row;
    justify-content: center;
}

