.positive-rev{
   color: #66C0F4;
}
.mixed-rev{
     color: #B9A074;
}
.negative-rev{
    color: #A34C25;
}


.video-area{
    
    .video-player{
        height: 330px;
        width: 600px;
        video{
            height: 330px;
            width: 600px;
        }
    }
}