*{
    color : #ffffff;
}

.positive-rev{
   color: #66C0F4;
}
.mixed-rev{
     color: #B9A074;
}
.negative-rev{
    color: #A34C25;
}

.img-container{
    img{
        width: 100%;
        object-fit: cover;
    }
}

.video-player{
    width: 100%;
    video{
        width: 100%;
    }
}

.score{
    h4{
        font-size: 15px;
    }
}

.description-area{
    h6, h4{
        font-weight: 400;
    }
}

.shopping-area{
    background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
    
    border-radius: 4px;
    #buy{
        font-size: 17px;
    }
    #price{
        font-size: 14px;
        padding-inline: 5px;
    }
    #buttons{
      position: absolute;
      right: -15px;
        background-color: #000000;
        padding: 2px 0 2px 2px;
        div{
            span{
                margin-inline: 2px;
                border-radius: 2px;
                border: none;
                display: block;
                cursor: pointer;
                text-decoration: none !important;
                color: #d2efa9;
                padding: 0 15px;
                font-size: 15px;
                line-height: 30px;
             
                text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.3 );
                background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
            }
            #addToWishlist, #removeFromWishlist{
                background: linear-gradient( to right, #4aa8af 5%, #0d90cc 95%);
                color: #c0e4f5;
            }
            #inLibrary{
                background: linear-gradient( to right, #5d959975 5%, #5097b883 95%);
                color: #e9f4f5e1;
            }
            }

        }
    }


@media screen and (min-width: 768px) {   
    .score{
        h4{
            font-size: 19px;
        }
        div{
            font-size: 14px;
        }
        p{
            margin-bottom: 6px;
        }
    }

    .md-bp-header{
        display: inline-block;
        max-width: 350px;
        max-height: 200px;
    }

   .shopping-area #buttons{
        right: 15px;
    }

   .shopping-area #buy{
        font-size: 27px;
    }
}
